# Exercise Sheet #8

## Exercise 1

For this exercise, you are require to write SPARQL queries and to check their answer on the following SPARQL endpoint: https://dbpedia.org/sparql.

The following prefixes will be useful:
- PREFIX dbo: <http://dbpedia.org/ontology/>
- PREFIX dbr: <http://dbpedia.org/resource/>
- PREFIX dbp: <http://dbpedia.org/property/>

### Question 1.1

- Look up http://dbpedia.org/page/Alan_Bean. Write a query to retrieve the abstract.

PREFIX dbo:<http://dbpedia.org/ontology/>
PREFIX dbr:<http://dbpedia.org/resource/>
PREFIX dbp:<http://dbpedia.org/property/>

SELECT * WHERE {
  dbr:Alan_Bean dbo:abstract ?abstract .
  
}

<!-- write your code in between the backquotes -->
```

```

### Question 1.2
- Modify the query to retrieve the abstract in a single language of your choice (e.g., only the french abstract).

PREFIX dbo:<http://dbpedia.org/ontology/>
PREFIX dbr:<http://dbpedia.org/resource/>
PREFIX dbp:<http://dbpedia.org/property/>

SELECT * WHERE {
  dbr:Alan_Bean dbo:abstract ?abstract .
  FILTER(langmatches(lang(?abstract),"FR"))
}

<!-- write your code in between the backquotes -->
```

```

### Question 1.3
- Look at how the astronaut profession is specified (in http://dbpedia.org/page/Alan_Bean) and write a query to retrieve all astronauts.

PREFIX dbo:<http://dbpedia.org/ontology/>
PREFIX dbr:<http://dbpedia.org/resource/>
PREFIX dbp:<http://dbpedia.org/property/>

SELECT * WHERE {
?astronaut dbo:occupation dbr:Astronaut
}

<!-- write your code in between the backquotes -->
```

```

### Question 1.4
- Write a query that counts the nb of astronauts.

PREFIX dbo:<http://dbpedia.org/ontology/>
PREFIX dbr:<http://dbpedia.org/resource/>
PREFIX dbp:<http://dbpedia.org/property/>

SELECT COUNT(*) 
WHERE {
?astronaut dbo:occupation dbr:Astronaut 
}

74 astronauts

<!-- write your code in between the backquotes -->
```

```

### Question 1.5
- Retrieve all astronauts and their nationality: Try with and without the OPTIONAL clause; for each query, get the number of astronauts.

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT ?astronaut ?nationality WHERE {
?astronaut dbp:type dbr:Astronaut.
?astronaut dbo:nationality ?nationality. 
}

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT ?astronaut ?nationality WHERE {
?astronaut dbp:type dbr:Astronaut.
OPTIONAL { ?astronaut dbo:nationality ?nationality. }
}

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT COUNT(*)
WHERE {
?person dbo:occupation dbr:Astronaut
{?person dbo:nationality ?citizenship}
}

#14

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT COUNT(*)
WHERE {
?person dbo:occupation dbr:Astronaut
{?person dbo:nationality ?citizenship}
}

#74

### Question 1.6
- Retrieve all astronauts ordered in reverse alphabetical order .

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT  ?astronaut  WHERE {
?astronaut dbp:type dbr:Astronaut.
}
ORDER BY DESC(?astronaut)

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT ?name
WHERE{
?person dbp:type dbr:Astronaut;
      rdfs:label ?name
FILTER(lang(?name)="en")
}
ORDER BY desc(?name)

<!-- write your code in between the backquotes -->
```

```

### Question 1.7
- Retrieve all astronauts grouped by nationality.

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT  ?nationality ?astronaut  WHERE {
?astronaut dbp:type dbr:Astronaut.
OPTIONAL {?astronaut dbo:nationality ?nationality. }
}
GROUP BY ?nationality

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT ?name ?citizen WHERE {
?person dbp:type dbr:Astronaut;
     rdfs:label ?name;
     dbo:nationality ?citizen.
FILTER(lang(?name)="en")
}
ORDER BY ?citizen

<!-- write your code in between the backquotes -->
```

```

## Exercise 2
Using [SPARQLWrapper](https://rdflib.github.io/sparqlwrapper/), write a python program which applies the 7 queries above and display the results.

In [ ]:
#1.1