In [1]:
!cat animals.csv

animal_type,sex,name,age,colour
cat,female,Arta,2,orange
dog,male,Bork,5,brown
mouse,male,Jerry,30,brown
cat,male,Tom,40,blue
rat,female,Lariska,25,grey

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /home/anna/Documents/PhDWork/Teaching/ex-env/lib/python3.8/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /home/anna/Documents/PhDWork/Teaching/ex-env/lib/python3.8/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/anna/Documents/PhDWork/Teaching/ex-env/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/anna/Documents/PhDWork/Teaching/ex-env/lib/python3.8/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /home/anna/Documents/PhDWork/Teaching/ex-env/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [7]:
import pandas as pd

animals = pd.read_csv("animals.csv", sep=',')

In [8]:
animals

  animal_type     sex     name  age  colour
0         cat  female     Arta    2  orange
1         dog    male     Bork    5   brown
2       mouse    male    Jerry   30   brown
3         cat    male      Tom   40    blue
4         rat  female  Lariska   25    grey

In [5]:
help(animals.to_dict)

Help on method to_dict in module pandas.core.frame:

to_dict(orient: "Literal[('dict', 'list', 'series', 'split', 'tight', 'records', 'index')]" = 'dict', into: 'type[dict]' = <class 'dict'>) -> 'dict | list[dict]' method of pandas.core.frame.DataFrame instance
    Convert the DataFrame to a dictionary.

    The type of the key-value pairs can be customized with the parameters
    (see below).

    Parameters
    ----------
    orient : str {'dict', 'list', 'series', 'split', 'tight', 'records', 'index'}
        Determines the type of the values of the dictionary.

        - 'dict' (default) : dict like {column -> {index -> value}}
        - 'list' : dict like {column -> [values]}
        - 'series' : dict like {column -> Series(values)}
        - 'split' : dict like
          {'index' -> [index], 'columns' -> [columns], 'data' -> [values]}
        - 'tight' : dict like
          {'index' -> [index], 'columns' -> [columns], 'data' -> [values],
          'index_names' -> [index.names], 'column_names' -> [column.names]}
        - 'records' : list like
          [{column -> value}, ... , {column -> value}]
        - 'index' : dict like {index -> {column -> value}}

        Abbreviations are allowed. `s` indicates `series` and `sp`
        indicates `split`.

        .. versionadded:: 1.4.0
            'tight' as an allowed value for the ``orient`` argument

    into : class, default dict
        The collections.abc.Mapping subclass used for all Mappings
        in the return value.  Can be the actual class or an empty
        instance of the mapping type you want.  If you want a
        collections.defaultdict, you must pass it initialized.

    Returns
    -------
    dict, list or collections.abc.Mapping
        Return a collections.abc.Mapping object representing the DataFrame.
        The resulting transformation depends on the `orient` parameter.

    See Also
    --------
    DataFrame.from_dict: Create a DataFrame from a dictionary.
    DataFrame.to_json: Convert a DataFrame to JSON format.

    Examples
    --------
    >>> df = pd.DataFrame({'col1': [1, 2],
    ...                    'col2': [0.5, 0.75]},
    ...                   index=['row1', 'row2'])
    >>> df
          col1  col2
    row1     1  0.50
    row2     2  0.75
    >>> df.to_dict()
    {'col1': {'row1': 1, 'row2': 2}, 'col2': {'row1': 0.5, 'row2': 0.75}}

    You can specify the return orientation.

    >>> df.to_dict('series')
    {'col1': row1    1
             row2    2
    Name: col1, dtype: int64,
    'col2': row1    0.50
            row2    0.75
    Name: col2, dtype: float64}

    >>> df.to_dict('split')
    {'index': ['row1', 'row2'], 'columns': ['col1', 'col2'],
     'data': [[1, 0.5], [2, 0.75]]}

    >>> df.to_dict('records')
    [{'col1': 1, 'col2': 0.5}, {'col1': 2, 'col2': 0.75}]

    >>> df.to_dict('index')
    {'row1': {'col1': 1, 'col2': 0.5}, 'row2': {'col1': 2, 'col2': 0.75}}

    >>> df.to_dict('tight')
    {'index': ['row1', 'row2'], 'columns': ['col1', 'col2'],
     'data': [[1, 0.5], [2, 0.75]], 'index_names': [None], 'column_names': [None]}

    You can also specify the mapping type.

    >>> from collections import OrderedDict, defaultdict
    >>> df.to_dict(into=OrderedDict)
    OrderedDict([('col1', OrderedDict([('row1', 1), ('row2', 2)])),
                 ('col2', OrderedDict([('row1', 0.5), ('row2', 0.75)]))])

    If you want a `defaultdict`, you need to initialize it:

    >>> dd = defaultdict(list)
    >>> df.to_dict('records', into=dd)
    [defaultdict(<class 'list'>, {'col1': 1, 'col2': 0.5}),
     defaultdict(<class 'list'>, {'col1': 2, 'col2': 0.75})]

In [9]:
animals_dict = animals.to_dict()

In [10]:
animals_dict

{'animal_type': {0: 'cat', 1: 'dog', 2: 'mouse', 3: 'cat', 4: 'rat'},
 'sex': {0: 'female', 1: 'male', 2: 'male', 3: 'male', 4: 'female'},
 'name': {0: 'Arta', 1: 'Bork', 2: 'Jerry', 3: 'Tom', 4: 'Lariska'},
 'age': {0: 2, 1: 5, 2: 30, 3: 40, 4: 25},
 'colour': {0: 'orange', 1: 'brown', 2: 'brown', 3: 'blue', 4: 'grey'}}

In [11]:
animals_dict = animals.to_dict('list')

In [12]:
animals_dict

{'animal_type': ['cat', 'dog', 'mouse', 'cat', 'rat'],
 'sex': ['female', 'male', 'male', 'male', 'female'],
 'name': ['Arta', 'Bork', 'Jerry', 'Tom', 'Lariska'],
 'age': [2, 5, 30, 40, 25],
 'colour': ['orange', 'brown', 'brown', 'blue', 'grey']}

In [13]:
animals.to_records()

rec.array([(0, 'cat', 'female', 'Arta',  2, 'orange'),
           (1, 'dog', 'male', 'Bork',  5, 'brown'),
           (2, 'mouse', 'male', 'Jerry', 30, 'brown'),
           (3, 'cat', 'male', 'Tom', 40, 'blue'),
           (4, 'rat', 'female', 'Lariska', 25, 'grey')],
          dtype=[('index', '<i8'), ('animal_type', 'O'), ('sex', 'O'), ('name', 'O'), ('age', '<i8'), ('colour', 'O')])

In [14]:
help(animals.to_json)

Help on method to_json in module pandas.core.generic:

to_json(path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None, orient: 'str | None' = None, date_format: 'str | None' = None, double_precision: 'int' = 10, force_ascii: 'bool_t' = True, date_unit: 'str' = 'ms', default_handler: 'Callable[[Any], JSONSerializable] | None' = None, lines: 'bool_t' = False, compression: 'CompressionOptions' = 'infer', index: 'bool_t' = True, indent: 'int | None' = None, storage_options: 'StorageOptions' = None) -> 'str | None' method of pandas.core.frame.DataFrame instance
    Convert the object to a JSON string.

    Note NaN's and None will be converted to null and datetime objects
    will be converted to UNIX timestamps.

    Parameters
    ----------
    path_or_buf : str, path object, file-like object, or None, default None
        String, path object (implementing os.PathLike[str]), or file-like
        object implementing a write() function. If None, the result is
        returned as a string.
    orient : str
        Indication of expected JSON string format.

        * Series:

            - default is 'index'
            - allowed values are: {'split', 'records', 'index', 'table'}.

        * DataFrame:

            - default is 'columns'
            - allowed values are: {'split', 'records', 'index', 'columns',
              'values', 'table'}.

        * The format of the JSON string:

            - 'split' : dict like {'index' -> [index], 'columns' -> [columns],
              'data' -> [values]}
            - 'records' : list like [{column -> value}, ... , {column -> value}]
            - 'index' : dict like {index -> {column -> value}}
            - 'columns' : dict like {column -> {index -> value}}
            - 'values' : just the values array
            - 'table' : dict like {'schema': {schema}, 'data': {data}}

            Describing the data, where data component is like ``orient='records'``.

    date_format : {None, 'epoch', 'iso'}
        Type of date conversion. 'epoch' = epoch milliseconds,
        'iso' = ISO8601. The default depends on the `orient`. For
        ``orient='table'``, the default is 'iso'. For all other orients,
        the default is 'epoch'.
    double_precision : int, default 10
        The number of decimal places to use when encoding
        floating point values.
    force_ascii : bool, default True
        Force encoded string to be ASCII.
    date_unit : str, default 'ms' (milliseconds)
        The time unit to encode to, governs timestamp and ISO8601
        precision.  One of 's', 'ms', 'us', 'ns' for second, millisecond,
        microsecond, and nanosecond respectively.
    default_handler : callable, default None
        Handler to call if object cannot otherwise be converted to a
        suitable format for JSON. Should receive a single argument which is
        the object to convert and return a serialisable object.
    lines : bool, default False
        If 'orient' is 'records' write out line-delimited json format. Will
        throw ValueError if incorrect 'orient' since others are not
        list-like.
    compression : str or dict, default 'infer'
        For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        Set to ``None`` for no compression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdCompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for faster compression and to create
        a reproducible gzip archive:
        ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    index : bool, default True
        Whether to include the index values in the JSON string. Not
        including the index (``index=False``) is only supported when
        orient is 'split' or 'table'.
    indent : int, optional
       Length of whitespace used to indent each record.

       .. versionadded:: 1.0.0

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting json format as a
        string. Otherwise returns None.

    See Also
    --------
    read_json : Convert a JSON string to pandas object.

    Notes
    -----
    The behavior of ``indent=0`` varies from the stdlib, which does not
    indent the output but does insert newlines. Currently, ``indent=0``
    and the default ``indent=None`` are equivalent in pandas, though this
    may change in a future release.

    ``orient='table'`` contains a 'pandas_version' field under 'schema'.
    This stores the version of `pandas` used in the latest revision of the
    schema.

    Examples
    --------
    >>> import json
    >>> df = pd.DataFrame(
    ...     [["a", "b"], ["c", "d"]],
    ...     index=["row 1", "row 2"],
    ...     columns=["col 1", "col 2"],
    ... )

    >>> result = df.to_json(orient="split")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "columns": [
            "col 1",
            "col 2"
        ],
        "index": [
            "row 1",
            "row 2"
        ],
        "data": [
            [
                "a",
                "b"
            ],
            [
                "c",
                "d"
            ]
        ]
    }

    Encoding/decoding a Dataframe using ``'records'`` formatted JSON.
    Note that index labels are not preserved with this encoding.

    >>> result = df.to_json(orient="records")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    [
        {
            "col 1": "a",
            "col 2": "b"
        },
        {
            "col 1": "c",
            "col 2": "d"
        }
    ]

    Encoding/decoding a Dataframe using ``'index'`` formatted JSON:

    >>> result = df.to_json(orient="index")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "row 1": {
            "col 1": "a",
            "col 2": "b"
        },
        "row 2": {
            "col 1": "c",
            "col 2": "d"
        }
    }

    Encoding/decoding a Dataframe using ``'columns'`` formatted JSON:

    >>> result = df.to_json(orient="columns")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "col 1": {
            "row 1": "a",
            "row 2": "c"
        },
        "col 2": {
            "row 1": "b",
            "row 2": "d"
        }
    }

    Encoding/decoding a Dataframe using ``'values'`` formatted JSON:

    >>> result = df.to_json(orient="values")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    [
        [
            "a",
            "b"
        ],
        [
            "c",
            "d"
        ]
    ]

    Encoding with Table Schema:

    >>> result = df.to_json(orient="table")
    >>> parsed = json.loads(result)
    >>> json.dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "schema": {
            "fields": [
                {
                    "name": "index",
                    "type": "string"
                },
                {
                    "name": "col 1",
                    "type": "string"
                },
                {
                    "name": "col 2",
                    "type": "string"
                }
            ],
            "primaryKey": [
                "index"
            ],
            "pandas_version": "1.4.0"
        },
        "data": [
            {
                "index": "row 1",
                "col 1": "a",
                "col 2": "b"
            },
            {
                "index": "row 2",
                "col 1": "c",
                "col 2": "d"
            }
        ]
    }

In [15]:
animals_json = animals.to_json(orient='records')

In [13]:
type(animals_json)

str

In [16]:
animals_json

'[{"animal_type":"cat","sex":"female","name":"Arta","age":2,"colour":"orange"},{"animal_type":"dog","sex":"male","name":"Bork","age":5,"colour":"brown"},{"animal_type":"mouse","sex":"male","name":"Jerry","age":30,"colour":"brown"},{"animal_type":"cat","sex":"male","name":"Tom","age":40,"colour":"blue"},{"animal_type":"rat","sex":"female","name":"Lariska","age":25,"colour":"grey"}]'

In [17]:
import json

In [18]:
animals_dict = json.loads(animals_json)

In [19]:
with open("animals.json", 'w') as f:
    json.dump(animals_dict, f)

In [20]:
!ls

animals.csv   data_formats.ipynb  marta.pkl
animals.json  house_config.yaml   wikipedia_examples.ipynb

In [21]:
!cat animals.json | json_pp

[
   {
      "age" : 2,
      "animal_type" : "cat",
      "colour" : "orange",
      "name" : "Arta",
      "sex" : "female"
   },
   {
      "age" : 5,
      "animal_type" : "dog",
      "colour" : "brown",
      "name" : "Bork",
      "sex" : "male"
   },
   {
      "age" : 30,
      "animal_type" : "mouse",
      "colour" : "brown",
      "name" : "Jerry",
      "sex" : "male"
   },
   {
      "age" : 40,
      "animal_type" : "cat",
      "colour" : "blue",
      "name" : "Tom",
      "sex" : "male"
   },
   {
      "age" : 25,
      "animal_type" : "rat",
      "colour" : "grey",
      "name" : "Lariska",
      "sex" : "female"
   }
]

In [22]:
import yaml

In [23]:
with open("house_config.yaml", 'r') as f:
    house_config = yaml.safe_load(f)

In [24]:
type(house_config)

dict

In [25]:
house_config

{'animals': [{'arta': None,
   'name': 'Arta',
   'sex': 'female',
   'type': 'cat',
   'age': 2,
   'colour': 'orange'},
  {'bork': None,
   'name': 'Bork',
   'sex': 'male',
   'type': 'dog',
   'age': 5,
   'colour': 'brown'}],
 'people': [{'mother': None, 'name': 'Lina', 'age': 40},
  {'father': None, 'name': 'John', 'age': 39},
  {'child': None, 'name': 'X-Æ-17', 'age': 2}],
 'address': '75 Magic St, Vilnius, Lithuania',
 'welcome_message': 'Welcome to our house!'}

In [26]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def say_hello(self):
        return f"Hello! I am {self.name}, and I am {self.age} years old"
    
    def celebrate_birthday(self):
        print("Yahoo! Today is my birthday!")
        self.age += 1
        print(f"Now I am {self.age} years old!")

In [27]:
p = Person("Marta", 5)

In [28]:
p.say_hello()

'Hello! I am Marta, and I am 5 years old'

In [29]:
p.celebrate_birthday()

Yahoo! Today is my birthday!
Now I am 6 years old!

In [30]:
p.say_hello()

'Hello! I am Marta, and I am 6 years old'

In [31]:
import pickle

In [32]:
with open("marta.pkl", 'wb') as f:
    pickle.dump(p, f)

In [33]:
!cat marta.pkl

��6       �__main__��Person���)��}�(�name��Marta��age�Kub.

In [34]:
with open("marta.pkl", "rb") as f:
    np = pickle.load(f)

In [35]:
np

In [36]:
np.name

'Marta'

In [37]:
np.age

6

In [38]:
np.say_hello()

'Hello! I am Marta, and I am 6 years old'