# Exercise Sheet \#6 - SQLite

In this sheet, we will use the [SQLite sample database](http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip) to explore (and learn!) the SQL language.

First, make sure (1) you installed [SQLite](https://www.sqlite.org/download.html) on your computer, and (2) you downloaded (and unzipped in your working directory) the Sample database using the link given above. Recall the Data Model of that database is available [here](http://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg).

For each question below, write the corresponding query and **run it on the sample data base** using either the sqlite3 interpreter or sqlitestudio or an equivalent tool.

## Exercise 1 - Using single tables
In this exercise, you are asked to perform various tasks on single tables.

### Question 1.1
Write a SQL query which lists the artists.

SELECT * from artists;

1|AC/DC
2|Accept
3|Aerosmith
4|Alanis Morissette
5|Alice In Chains
6|Antônio Carlos Jobim
7|Apocalyptica
8|Audioslave
9|BackBeat
10|Billy Cobham
11|Black Label Society
12|Black Sabbath
13|Body Count
14|Bruce Dickinson

...

### Question 1.2
Write a SQL query which computes the total number of artists.

SELECT count(*)
  FROM artists;

275

### Question 1.3
Write a SQL query which counts how many distinct artists are registered.

SELECT DISTINCT count(*)
  from artists;

275

### Question 1.4
Write a SQL query which lists the artists whose name starts with N.

SELECT name FROM artists
  WHERE name LIKE "N%"
  ;

In [ ]:
Ney Matogrosso
Nando Reis
Nirvana
Nega Gizza
Nação Zumbi
Nicolaus Esterhazy Sinfonia
Nash Ensemble

### Question 1.5
Write a SQL query which computes the number of tracks per album.

SELECT AlbumID, count(TrackID)
    FROM tracks
    GROUP BY AlbumID;

1|10
2|1
3|3
4|8
5|15
6|13
7|12
8|14
9|8
10|14
11|12
12|12
13|8

...

### Question 1.6
Write a SQL query which computes the average duration (in milliseconds) of songs.

SELECT AVG(Milliseconds)
   FROM tracks
   ;

393599.212103911

### Question 1.7
Add **Bono** to the _artists_ table (make sure it gets a valid id).

INSERT INTO artists
 (name)
 VALUES
 ("Bono")
 ;

SELECT ArtistID, name
 FROM artists
 WHERE name LIKE "Bono%"
 ;

276|Bono

### Question 1.8
List artists who do not appear in the _albums_ table.
If there are any, what is the query you would use to remove them from the table ?

SELECT ArtistID, name
  FROM artists
  WHERE ArtistID NOT IN (
    SELECT ARtistID
    FROM albums
  )
  ;

25|Milton Nascimento & Bebeto
26|Azymuth
28|João Gilberto
29|Bebel Gilberto
30|Jorge Vercilo
31|Baby Consuelo
32|Ney Matogrosso
33|Luiz Melodia
34|Nando Reis
35|Pedro Luís & A Parede
38|Banda Black Rio
39|Fernanda Porto
40|Os Cariocas
43|A Cor Do Som
44|Kid Abelha
45|Sandra De Sá
47|Hermeto Pascoal
48|Barão Vermelho
49|Edson, DJ Marky & DJ Patife Featuring Fernanda Porto
60|Santana Feat. Dave Matthews
61|Santana Feat. Everlast
62|Santana Feat. Rob Thomas
63|Santana Feat. Lauryn Hill & Cee-Lo
64|Santana Feat. The Project G&B
65|Santana Feat. Maná
66|Santana Feat. Eagle-Eye Cherry
67|Santana Feat. Eric Clapton
71|Vinícius De Moraes & Baden Powell
73|Vinícius E Qurteto Em Cy
74|Vinícius E Odette Lara
75|Vinicius, Toquinho & Quarteto Em Cy
107|Motörhead & Girlschool
119|Peter Tosh
123|R.E.M. Feat. KRS-One
129|Simply Red
154|Whitesnake
160|Christina Aguilera featuring BigElf
161|Aerosmith & Sierra Leone's Refugee Allstars
162|Los Lonely Boys
163|Corinne Bailey Rae
164|Dhani Harrison & Jakob Dylan
165|Jackson Browne
166|Avril Lavigne
167|Big & Rich
168|Youssou N'Dour
169|Black Eyed Peas
170|Jack Johnson
171|Ben Harper
172|Snow Patrol
173|Matisyahu
174|The Postal Service
175|Jaguares
176|The Flaming Lips
177|Jack's Mannequin & Mick Fleetwood
178|Regina Spektor
181|Xis
182|Nega Gizza
183|Gustavo & Andres Veiga & Salazar
184|Rodox
185|Charlie Brown Jr.
186|Pedro Luís E A Parede
187|Los Hermanos
188|Mundo Livre S/A
189|Otto
190|Instituto
191|Nação Zumbi
192|DJ Dolores & Orchestra Santa Massa
193|Seu Jorge
194|Sabotage E Instituto
195|Stereo Maracana
239|Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett
276|Bono

DELETE FROM artists
WHERE ArtistID NOT IN (
    SELECT ArtistID
    FROM albums
);

### Question 1.9
How could you remove all artists whose name starts with "N" from the _artists_ table ?

DELETE FROM artists
WHERE name IN (
  SELECT name FROM artists
  WHERE name LIKE "N%"
);

## Exercise 2 - Using multiple tables
In this exercise, you are asked to write queries which may require more than one table.

### Question 2.1
Write a SQL query which retrieves the list of artists (names) together with their albums recorded in the database.

SELECT artists.name, albums.Title
FROM artists
INNER JOIN albums ON artists.ArtistID = albums.ArtistID
;

AC/DC|For Those About To Rock We Salute You
Accept|Balls to the Wall
Accept|Restless and Wild
AC/DC|Let There Be Rock
Aerosmith|Big Ones
Alanis Morissette|Jagged Little Pill
Alice In Chains|Facelift
Antônio Carlos Jobim|Warner 25 Anos
Apocalyptica|Plays Metallica By Four Cellos
Audioslave|Audioslave
Audioslave|Out Of Exile

...

### Question 2.2
Filter the answers from the previous question so that only artists who have more than 3 albums recorded in the database are listed.

SELECT artists.name, COUNT(albums.AlbumID) as NumberOfAlbums
FROM artists
INNER JOIN albums ON artists.ArtistID = albums.ArtistID
GROUP BY artists.ArtistID, artists.name
HAVING COUNT(albums.AlbumID) > 3;

Various Artists|4
Led Zeppelin|14
Metallica|10
Deep Purple|11
Faith No More|4
Foo Fighters|4
Iron Maiden|21
Ozzy Osbourne|6
Pearl Jam|5
Lost|4
U2|10
Van Halen|4

### Question 2.3
List each song together with the number of times it appears in a recorded playlist.

SELECT TrackID, count(PlaylistID)
FROM Playlist_track
GROUP BY TrackID
;

### Question 2.4
List the songs whose genre is Metal. How many of them are they ?

SELECT tracks.name
FROM tracks
INNER JOIN genres ON tracks.GenreID = genres.GenreID
WHERE genres.name is 'Metal';

Enter Sandman
Master Of Puppets
Harvester Of Sorrow
The Unforgiven
Sad But True
Creeping Death
Wherever I May Roam
Welcome Home (Sanitarium)
Intro/ Low Down
13 Years Of Grief
Stronger Than Death
All For You
Super Terrorizer
Phoney Smile Fake Hellos
Lost My Better Half
Bored To Tears
A.N.D.R.O.T.A.Z.
Born To Booze
World Of Trouble
No More Tears
The Begining... At Last
Heart Of Gold
Snowblind
Like A Bird
Blood In The Wall
The Beginning...At Last
Black Sabbath
The Wizard
Behind The Wall Of Sleep
N.I.B.
Evil Woman
Sleeping Village
Warning
Wheels Of Confusion / The Straightener
Tomorrow's Dream
Changes
FX
Supernaut
Snowblind
Cornucopia
Laguna Sunrise
St. Vitus Dance
Under The Sun/Every Day Comes and Goes
King In Crimson
Chemical Wedding
The Tower
Killing Floor
Book Of Thel
Gates Of Urizen
Jerusalem
Trupets Of Jericho
Machine Men
The Alchemist
Realword
Free Speech For The Dumb
It's Electric
Sabbra Cadabra
Turn The Page
Die Die My Darling
Loverman
Mercyful Fate
Astronomy
Whiskey In The Jar
Tuesday's Gone
The More I See
Straight Out Of Line
Faceless
Changes
Make Me Believe
I Stand Alone
Re-Align
I Fucking Hate You
Releasing The Demons
Dead And Broken
I Am
The Awakening
Serenity
Civil War
14 Years
Yesterdays
Knockin' On Heaven's Door
Get In The Ring
Shotgun Blues
Breakdown
Pretty Tied Up
Locomotive
So Fine
Estranged
You Could Be Mine
Don't Cry
My World
The Number Of The Beast
The Trooper
Prowler
Transylvania
Remember Tomorrow
Where Eagles Dare
Sanctuary
Running Free
Run To The Hilss
2 Minutes To Midnight
Iron Maiden
Hallowed Be Thy Name
Be Quick Or Be Dead
From Here To Eternity
Can I Play With Madness
Wasting Love
Tailgunner
The Evil That Men Do
Afraid To Shoot Strangers
Bring Your Daughter... To The Slaughter
Heaven Can Wait
The Clairvoyant
Fear Of The Dark
2 Minutes To Midnight
The Trooper
Revelations
Flight Of Icarus
Rime Of The Ancient Mariner
Powerslave
The Number Of The Beast
Hallowed Be Thy Name
Iron Maiden
Run To The Hills
Running Free
Tailgunner
Holy Smoke
No Prayer For The Dying
Public Enema Number One
Fates Warning
The Assassin
Run Silent Run Deep
Hooks In You
Bring Your Daughter... ...To The Slaughter
Mother Russia
Where Eagles Dare
Revelations
Flight Of The Icarus
Die With Your Boots On
The Trooper
Still Life
Quest For Fire
Sun And Steel
To Tame A Land
Aces High
2 Minutes To Midnight
Losfer Words
Flash of The Blade
Duelists
Back in the Village
Powerslave
Rime of the Ancient Mariner
Intro
The Wicker Man
Ghost Of The Navigator
Brave New World
Wrathchild
2 Minutes To Midnight
Blood Brothers
Sign Of The Cross
The Mercenary
The Trooper
The Evil That Men Do
Moonchild
Infinite Dreams
Can I Play With Madness
The Evil That Men Do
Seventh Son of a Seventh Son
The Prophecy
The Clairvoyant
Only the Good Die Young
Caught Somewhere in Time
Wasted Years
Sea of Madness
Heaven Can Wait
Stranger in a Strange Land
Alexander the Great
De Ja Vu
The Loneliness of the Long Dis
22 Acacia Avenue
Children of the Damned
Gangland
Hallowed Be Thy Name
Invaders
Run to the Hills
The Prisoner
The Green Manalishi
Living After Midnight
Breaking The Law (Live)
Hot Rockin'
Heading Out To The Highway (Live)
The Hellion
Electric Eye
You've Got Another Thing Comin'
Turbo Lover
Freewheel Burning
Some Heads Are Gonna Roll
Metal Meltdown
Ram It Down
Diamonds And Rust (Live)
Victim Of Change (Live)
Tyrant (Live)
Enter Sandman
Sad But True
Holier Than Thou
The Unforgiven
Wherever I May Roam
Don't Tread On Me
Through The Never
Nothing Else Matters
Of Wolf And Man
The God That Failed
My Friend Of Misery
The Struggle Within
Helpless
The Small Hours
The Wait
Crash Course In Brain Surgery
Last Caress/Green Hell
Am I Evil?
Blitzkrieg
Breadfan
The Prince
Stone Cold Crazy
So What
Killing Time
Overkill
Damage Case
Stone Dead Forever
Too Late Too Late
Hit The Lights
The Four Horsemen
Motorbreath
Jump In The Fire
(Anesthesia) Pulling Teeth
Whiplash
Phantom Lord
No Remorse
Seek & Destroy
Metal Militia
Ain't My Bitch
2 X 4
The House Jack Built
Until It Sleeps
King Nothing
Hero Of The Day
Bleeding Me
Cure
Poor Twisted Me
Wasted My Hate
Mama Said
Thorn Within
Ronnie
The Outlaw Torn
Battery
Master Of Puppets
The Thing That Should Not Be
Welcome Home (Sanitarium)
Disposable Heroes
Leper Messiah
Orion
Damage Inc.
Fuel
The Memory Remains
Devil's Dance
The Unforgiven II
Better Than You
Slither
Carpe Diem Baby
Bad Seed
Where The Wild Things Are
Prince Charming
Low Man's Lyric
Attitude
Fixxxer
Fight Fire With Fire
Ride The Lightning
For Whom The Bell Tolls
Fade To Black

...

SELECT COUNT(*)
FROM tracks
INNER JOIN genres ON tracks.GenreID = genres.GenreID
WHERE genres.Name = 'Metal';

374

### Question 2.5
How many albums and songs from the "Philip Glass Ensemble" are they ?

SELECT COUNT(*)
FROM albums
INNER JOIN artists ON albums.ArtistID = artists.ArtistID
WHERE artists.Name = 'Philip Glass Ensemble';

1

SELECT COUNT(*)
FROM tracks
INNER JOIN albums ON tracks.AlbumID = albums.AlbumID
INNER JOIN artists ON albums.ArtistID = artists.ArtistID
WHERE artists.Name = 'Philip Glass Ensemble';

1

### Question 2.6
Which artist plays the longest song of the database ?

SELECT artists.ArtistID, artists.name, tracks.Name as TrackName, tracks.milliseconds
FROM artists
JOIN tracks ON artists.name = tracks.Composer
ORDER BY tracks.milliseconds DESC
LIMIT 1;

68|Miles Davis|My Funny Valentine (Live)|907520

### Question 2.7
Can you add new songs to the database ? What pieces of information are needed ? In what order do you add those ?

Yes, we can add new songs to the database.
The informations needed are : 
    TrackId
    Name
    AlbumId
    MediaTypeI
    GenreId
    Composer
    Milliseconds
    Bytes
    UnitPrice

We have to first insert the TrackId

### Question 2.8
Are they genres for which there is no single song registered ?

SELECT genres.GenreID, genres.Name
FROM genres
LEFT JOIN tracks ON genres.GenreID = tracks.GenreId
WHERE tracks.GenreId IS NULL;

In [ ]:
No match

## Exercise 3 : to go further (to practice at home)
Here are some additional questions for you to go further with SQL :


3.1    Provide a query showing Customers (just their full names, customer ID and country) who are not in the US.

3.2    Provide a query only showing the Customers from Brazil.

3.3    Provide a query showing the Invoices of customers who are from Brazil. The resultant table should show the customer’s full name, Invoice ID, Date of the invoice and billing country.

3.4    Provide a query showing only the Employees who are Sales Agents.

3.5    Provide a query showing a unique list of billing countries from the Invoice table.

3.6    Provide a query showing the invoices of customers who are from Brazil.

3.7    Provide a query that shows the invoices associated with each sales agent. The resultant table should include the Sales Agent’s full name.

3.8    Provide a query that shows the Invoice Total, Customer name, Country and Sale Agent name for all invoices and customers.

3.9    How many Invoices were there in 2009 and 2011 ? What are the respective total sales for each of those years ?

3.10    Looking at the InvoiceLine table, provide a query that COUNTs the number of line items for Invoice ID 37.

3.11    Looking at the InvoiceLine table, provide a query that COUNTs the number of line items for each Invoice. HINT : GROUP BY

3.12    Provide a query that includes the track name with each invoice line item.

3.13    Provide a query that includes the purchased track name AND artist name with each invoice line item.

3.14    Provide a query that shows the number of invoices per country. HINT : GROUP BY

3.15    Provide a query that shows the total number of tracks in each playlist. The Playlist name should be include on the resultant table.

3.16    Provide a query that shows all the Tracks, but displays no IDs. The resultant table should include the Album name, Media type and Genre.

3.17    Provide a query that shows all Invoices but includes the number of invoice line items.

3.18    Provide a query that shows total sales made by each sales agent.

3.19    Which sales agent made the most in sales in 2009 ?

3.20    Which sales agent made the most in sales in 2010 ?

3.21    Which sales agent made the most in sales over all ?

3.22    Provide a query that shows the number of customers assigned to each sales agent.

3.23    Provide a query that shows the total sales per country. Which country’s customers spent the most ?

3.24    Provide a query that shows the most purchased track of 2013.

3.25    Provide a query that shows the top 5 most purchased tracks over all.

3.26    Provide a query that shows the top 3 best selling artists.